<configuration>
    <packageSources>
        <clear />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="MyGet Balea" value="https://www.myget.org/F/plainconcepts-balea/auth/a2a752fc-d866-4e34-aed5-25ac5eb6bece/api/v3/index.json" />
    </packageSources>
</configuration>